<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2" style="margin-top: 40px; margin-bottom: 40px">
                    <br/>
                    <h1 class="brand-heading">EXXPRESS</h1>
                </div>
                <ul id="rig">
                    <li>
                    	<div class="portfolio-wrapper">
	                        <div class="portfolio-single">
	                            <div class="portfolio-thumb">
	                                <img src="/images/Full/1.jpg" class="img-responsive" alt="">
	                            </div>
	                            <div class="portfolio-view">
	                                <ul class="nav nav-pills">
	                                    <li><a href="<%= art_image_path(1, 1) %>"><i class="fa fa-link"></i></a></li>
	                                    <li><a href="/images/Full/1.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
                        <!-- <a class="rig-cell" href="#">
                            <img class="rig-img" src="/images/Full/1.jpg" height="40%" width="50%">
                            <span class="rig-overlay"></span>
                            <span class="rig-text"><i class="fa fa-link"></i></span>
                        </a> -->
                    </li>
                    <li>
                    	<div class="portfolio-wrapper">
	                        <div class="portfolio-single">
	                            <div class="portfolio-thumb">
	                                <img src="/images/Full/2.jpg" class="img-responsive" alt="">
	                            </div>
	                            <div class="portfolio-view">
	                                <ul class="nav nav-pills">
	                                    <li><a href="<%= art_image_path(1, 2) %>"><i class="fa fa-link"></i></a></li>
	                                    <li><a href="/images/Full/2.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
                        <!-- <a class="rig-cell" href="#">
                            <img class="rig-img" src="/images/Full/2.jpg" height="40%" width="50%">
                            <span class="rig-overlay"></span>
                            <span class="rig-text"><i class="fa fa-link"></i></span>
                        </a> -->
                    </li>
                </ul>
                <ul id="rig">
                    <li>
                    	<div class="portfolio-wrapper">
	                        <div class="portfolio-single">
	                            <div class="portfolio-thumb">
	                                <img src="/images/Full/4.jpg" class="img-responsive" alt="">
	                            </div>
	                            <div class="portfolio-view">
	                                <ul class="nav nav-pills">
	                                    <li><a href="<%= art_image_path(1, 4) %>"><i class="fa fa-link"></i></a></li>
	                                    <li><a href="/images/Full/4.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
                        <!-- <a class="rig-cell" href="#">
                            <img class="rig-img" src="/images/Full/5.jpg" height="40%" width="50%">
                            <span class="rig-overlay"></span>
                            <span class="rig-text"><i class="fa fa-link"></i></span>
                        </a> -->
                    </li>
                    <li>
                    	<div class="portfolio-wrapper">
	                        <div class="portfolio-single">
	                            <div class="portfolio-thumb">
	                                <img src="/images/Full/5.jpg" class="img-responsive" alt="">
	                            </div>
	                            <div class="portfolio-view">
	                                <ul class="nav nav-pills">
	                                    <li><a href="<%= art_image_path(1, 5) %>"><i class="fa fa-link"></i></a></li>
	                                    <li><a href="/images/Full/5.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
                        <!-- <a class="rig-cell" href="test.html">
                            <img class="rig-img" src="/images/Full/4.jpg" height="40%" width="50%">
                            <span class="rig-overlay"></span>
                            <span class="rig-text"><i class="fa fa-link"></i></span>
                        </a> -->
                    </li>
                </ul>
            </div>
            <br /><br />
        </div>
    </div>
</header>
<div class="navbar navbar-default" style="margin-bottom: 0 !important;">
    <div class="container">

    </div>
</div>
