.navbar-default {
    background-color: #dfe0e4;
    border-color: #e1e2e5;
}
.navbar-default .navbar-brand {
    color: #040605;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000000;
}
.navbar-default .navbar-text {
    color: #040605;
}
.navbar-default .navbar-nav > li > a {
    color: #040605;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: #e1e2e5;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #000000;
    background-color: #e1e2e5;
}
.navbar-default .navbar-toggle {
    border-color: #e1e2e5;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #e1e2e5;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #040605;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #040605;
}
.navbar-default .navbar-link {
    color: #040605;
}
.navbar-default .navbar-link:hover {
    color: #000000;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #040605;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #000000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #000000;
        background-color: #e1e2e5;
    }
}
.gradient-box{
    padding: 25%;
    margin: 10px;
    background: url("../img/teal.jpg");
    background-size: 100%;
    color: #000;
}

.nomp{
    margin: 0;
    padding: 0;
}
.imgres {
    position: absolute;
    transform: translate3d(0px, 300px, 0px);
}