<div class="navbar navbar-default navbar-fixed-top">
    <div class="container col-md-11 col-md-offset-5">
        <ul class="nav navbar-nav nvc">

            <li>
                <a href="<%= dashboard_path %>" class="active">Home</a>
            </li>
            <li>
                <a href="<%= arts_path %>">Gallery</a>
            </li>
        </ul>

    </div>
</div>